services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - api
      - web
    restart: unless-stopped

  api:
    build: ./services/api
    expose:
      - "8080"
    environment:
      - PIPELINE_WS_URL=${PIPELINE_WS_URL:-wss://color-moved-slot-region.trycloudflare.com/ws}
      - MONGO_URI=mongodb://mongodb:27017/classroom
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - REDIS_HOST=redis:6379
    depends_on:
      - mongodb
      - redis
    restart: unless-stopped

  web:
    build:
      context: ./web
      args:
        NEXT_PUBLIC_API_URL: https://172.25.110.23
        NEXT_PUBLIC_WS_URL: wss://172.25.110.23
    expose:
      - "3000"
    depends_on:
      - api
    restart: unless-stopped

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    expose:
      - "6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  mongo-data:
  redis-data:
